{% extends 'base.html' %}
{% load static %}
{% block content %}

                   <h1>Izohlar</h1>
{% for comment in comments %}
            <div class="comments" style="padding:10px">
                <p class="font-weight-bold">
                    {{comment.user}}
                    <span class="text-muted font-weight-normal">
                        {{comment.created_time}}
                    </span>
                </p>
                {{comment.body | linebreaks }}
            </div>
            {% endfor %}
    {% if user.is_authenticated %}
<div class="col-md-8 card mb-4 mt-5">
    <div class="card-boy">
        <h3>Izoh qoldirish</h3>
        <form method="POST" style="margin-top: 1.3em"> {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit" class="btn btn-primary btn-lg">Yuborish</button>
        </form>
    </div>
</div>
{% else %}
    <div class="card-body">
        <p class="text-danger">Faqatgina ro'yhatdan o'tsangizgina izoh yoza olasiz</p>
        <h3>Buning uchun <a href="{% url 'sign_up'%}">ro'yhatdan o'tish</a> va <a href="{% url 'login'%}">login</a> </h3>
    </div>
{% endif %}

{% endblock content %}
